 /* File: css/style.css */

html, body {
    margin: 0;
    padding: 0; /* Lebih aman untuk mereset padding juga */
}
/* Lalu atur padding-top yang Anda butuhkan hanya pada body */
body {
    padding-top: 70px; /* Ganti dengan tinggi header Anda */
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.montserrat{
    font-family: "Montserrat", sans-serif;
}


/* Container Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; /*jarak menu semua */
}

.non-bold {
    font-weight: normal; /* Hilangkan bold */
    font-size: 1.2rem; /* Ukuran font lebih kecil */
}

/* Logo dan Judul */
.logo-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 50px; /* Ukuran logo */
    height: 50px;
    border-radius: 50%;
}

.logo-title h1 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
}

/* Navigasi */
nav {
    flex-grow: 1;
    text-align: right;
    display: flex;  /* Ensure the nav is a flex container */
    justify-content: flex-end;  /* Align the items to the right */
      /* Optional: Add some padding to the right edge */
}

.menu {
    background: #ffffff;
	margin: 0;
	padding: 20px 30px;
}

.tombol{
	display: none;
	color: rgb(0, 0, 0);
	font-size: 19pt;			
}
 
.tombol:hover{
	cursor: pointer;
}
 
 
.menu{
	margin: 0;
	display: flex;
	list-style: none;
	padding: 0;			
}
.menu li{
    position: relative;
right:-90px;
	padding-left: 1px;
	margin-right: 10px;
}
 
.menu li a{
	padding:10px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	display: inline-block;
}
 

/* Animasi Hover */
.menu a:hover {
    /* background-color: #007bff; */
    color: #000000;
    font-weight: bold; /* Jadikan teks bold */
    transform: scale(1.1); /* Membesar sedikit */
}
 /* Responsivitas */
 @media screen and (max-width: 768px) {
	.menu {
		display: none;
	}
    .menu li {
		padding: 2px;
	}
 
	.menu.aktif{
		display:inline-block;
		position: absolute;
		top: 64px;
		background: #ffffff;
		padding: 10px 20px;
		right: 0;
		left: 0;
	}
 
	.menu.aktif li a{
		padding: 9px;
		display: inline-block !important;
	}
 
	.tombol {
		display: block;
	}
    .menu.aktif li {
        text-align: left; /* Memastikan <a> yang inline-block rata kiri di dalam <li> */
    }
}
